h1=title 
div(class="reportProfile")
   div(class="customerReportProfile")
        span=report.request[0].customer.name
        span=report.request[0].customer.number
        span=report.request[0].customer.email
   div(class="contentReportProfile")
        p=report.message
   div(class="authorReportProfile")
        p De #{report.author.username}
        p  Fait le #{properStringDate(report.date)}
include ../requests/tableRequests
