h1=title 
div(class="requestProfile")
    div(class="leftRequestProfile")   
        div(class="upLeftRequestProfile")   
            span=request.customer.name
            span=request.customer.number 
            span=request.customer.email
        div(class="downLeftRequestProfile")
            span=properStringDate(request.date)
            span=request.typeof
            span(class="dot" style="background-color:"+urgencyColor(request.urgencyLevel))
            span=deadlineTimeCalcul(request.deadline)
    div(class="rightRequestProfile" )
            p=request.message 
            if request.done  
                p Requete Completé 
                    i(class="fas fa-check")
            else   
                p Requete pas encore complété
                    i(class="fas fa-times")
include ../reports/tableReports
div(class="buttonIs" id=request._id type="requests"  )  
    button(class=" button Action" Action="delete" )   Supprimer la requete 
    if request.done  
        button(class=" button Action" Action="undone" )   Invalider la requete   
    else    
        button(class=" button Action" Action="done" )   Valider la requete   
