table(type="requests")
  caption=titleRequests 
    if profile 
      button(class="button" id="showForm")   Rajouter une requete a ce client 
  thead

      tr
          each tab in requestTableFormat
              th(scope='col') #{tab}
              
  tbody
      each request in requests  
          tr(id=request._id)
            td=request.customer.name
            td=subMessage(80,request.message)
            td=request.typeof
            td=properStringDate(request.date)
            td=deadlineTimeCalcul(request.deadline)
            td  
              span(class="dot" style="background-color:"+urgencyColor(request.urgencyLevel))
            td 
              if request.done   
                i(class="fas fa-check")
              else    
                i(class="fas fa-times")
            td(id="consult") Consultez 
if pageNumberRequests>1
  .pagination
    .pagination-container
      .pagination-hover-overlay
      a.pagination-prev(href='#0')
        span.icon-pagination.icon-pagination-prev
            i(class="fas fa-arrow-left")
      each i in range(1,pageNumberRequests)
          a.pagination-page-number(href='#0')=i 
      a.pagination-next(href='#0')
        span.icon-pagination.icon-pagination-next
            i(class="fas fa-arrow-left")
if areWeInTherequest
  div(class="buttonIs")
      button(class=" button  " id="showForm")    Créer une nouvelle requete 
