div(class="profileCustomer")
h1 Profil
div(class="titreprofileCustomer")
    img(src=customer.avatar class="imgAvatar" )
    div(class="detailprofileCustomer")
        div(class="makeCall")
            h2=customer.number
            i(class="fas fa-phone")
        h2=customer.name
        h2=customer.email
div(class="contentprofileCustomer")
    div(class="requestprofileCustomer")
        include ../requests/tableRequests
div(class="buttonIs" id=customer._id type="customers")  
    button(class="button Action" Action="delete" )   Supprimer le Client 